# Default ignored files
/shelf/
/.idea
/out
/Behavioral Patterns/Behavioral Patterns.iml
/Creational/Creational Patterns.iml
/Structural Patterns/Structural Patterns.iml
Java-design-pattern.iml

# Editor-based HTTP Client requests
/httpRequests/

/Design Pattern/Singleton.iml
